h1{
  border: 5px solid black;
  text-align: center;
  font-size: 70px;
  border-radius: 15px;
  background-color: white;
}

#orderList{
  border: 5px solid black;
  height: 600px;
  width: 1880px;
  border-radius: 15px;
  overflow: auto;
  background-color: white;
  font-size: 70px;
  padding-left: 15px
}

.button{
  background-color: white;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 15px;
}
.button:hover {
  background-color: #04AA6D;
  color: white;
  border-color: black;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(7px);
}
body{
  background-color: #668099;
}
#totalPrice{
  border: 5px solid black;
  height: 50px;
  width: 1894px;
  border-radius: 15px;
  background-color: white;
  font-size: 50px
}
