
h1 {
  margin:auto;

  width: 50%;
  text-align: center;
  font-size: 56px;
  border:  10px solid;
  border-radius: 10px;

}
.hey {
  column-count: 3
}
.option {
  width: 50%;
  margin:auto;
  font-size: 30px;
  padding-top: 150px;
  text-align: center;
}
.img{

}
.cart{
  position:fixed;
  top: 0;
  right: 25px;
  border: 10px solid;
  border-radius: 10px;
  border-color: green;
  background-color: green;
  width: 75px;
  height: 75px;
  margin: auto
}
