
h1 {
  margin:auto;
  width: 50%;
  text-align: center;
  font-size: 70px;
  border:  5px solid;
  border-radius: 15px;
  background-color: white;

}
.menu {
  background-color: white;
  margin-top: 50px;
  column-count: 4;
  border:  5px solid;
  height: 750px;
  border-radius: 15px;
  overflow-y: auto;
  padding-top: 15px
}
.option {
  width: 50%;
  margin: auto;
  font-size: 30px;
  text-align: center;
}
.img{

}
.cart{
  position:fixed;
  top: 0;
  right: 25px;
  border: 10px solid;
  border-radius: 10px;
  border-color: #04AA6D;
  background-color: #04AA6D;
  width: 75px;
  height: 75px;
  margin: auto
  border:  5px solid;
}
.button{
  background-color: white;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 15px;
}
.button:hover {
  background-color: #04AA6D;
  color: white;
  border-color: black;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(7px);
}
body{
  background-color: #668099;
}
