#title {
  height: auto;
  width: auto;
  font-size: 75px;
  text-align: center;
  border-color: black;
  border-style: solid;
}
#list {
  height: auto;
  width: calc(100% - 15%);
  font-size: 45px;
  margin: auto;
}
.order {
  border-color: black;
  border-style: solid;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}
.deletebutton {
  max-height: 100px;
  border-color: grey;
  border-style: solid;
  height: auto;
  width: auto;
  transition-duration: 0.4s;
  position: relative;
  bottom: 6px;
  left: 20px;
}
.deletebutton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
