<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cart.css">
    <title>Your Cart</title>
  </head>
  <body>
    <h1>Cart</h1>
    <div id="orderList">
      <% for (product in list) { %>

        <p><%- object.values(product) %>
        </p>
      <% } %>
    </div>
    <button class="button">Place Order</button>
  </body>
</html>
