<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cart.css">
    <title>Your Cart</title>
  </head>
  <body>
    <h1>Cart</h1>
    <div id="orderList">
      <% for (var i = 0; i < list.length; i++) { %>

        <p><%- list[i] %>
        </p>
      <% } %>
    </div>
    <button class="button">Place Order</button>
  </body>
</html>
