<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/cart.css">
    <title>Your Cart</title>
  </head>
  <body>
    <h1>Cart</h1>
    <div id="orderList">
      <% for (product in list) {

            if (list[product] == 1) {%>
        <p> <%- product %></p>
            <% } else { %>
              <p><%- list[product] %>  <%- product %></p>
              <% } %>
      <% } %>
    </div>
    <form class="" action="/cart" method="post">

      <button type="submit" name="purchase" value="order" class="button">Place Order</button>
    </form>
  </body>
</html>
