<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/menu.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <title>Latte Bar Menu</title>

</head>

<body>
  <h1>menu</h1>
</body>

<div class="cart">
  <img src="/img/cart.png" alt="" class="cart">

</div>


<div class="hey">
  <div class="option">
product1
  <img src="/img/coffe.jpg" class="img">
  </div>
  <div class="option">
product2
<img src="/img/coffe.jpg" class="img">
  </div>
  <div class="option">
product3
<img src="/img/coffe.jpg" class="img">
  </div>
</div>


</html>
