<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/menu.css">
  <title>Latte Bar Menu</title>
</head>

<body>
  <h1>menu</h1>
</body>

<div class="hey">
  <div class="option">
product1

  </div>
  <div class="option">
product2
  </div>
  <div class="option">
product3
  </div>
</div>


</html>
