<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/menu.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <title>Latte Bar Menu</title>

</head>

<body>
  <h1>Menu</h1>
</body>

<div class="cart">
  <form class="cart" action="/menu" method="post">
    <input type="image" src="/img/cart.png" class="cart" name="to">
  </form>
</div>


<div class="menu">
  <div class="option">
Product 1
  <img src="/img/coffe.jpg" class="img">
  <form class="" action="/menu" method="post">
    <button type="button" name="Order" value="p1" class='button'>Order</button>
  </form>
  </div>
  <div class="option">
Product 2
<img src="/img/coffe.jpg" class="img">
<form class="" action="/menu" method="post">
  <button type="button" name="Order" value="p2" class='button'>Order</button>
</form>
  </div>
  <div class="option">
Product 3
<img src="/img/coffe.jpg" class="img">
<form class="" action="/menu" method="post">
  <button type="button" name="Order" value="p3" class='button'>Order</button>
</form>
  </div>
  <div class="option">
Product 4
  <img src="/img/coffe.jpg" class="img">
  <form class="" action="/menu" method="post">
    <button type="button" name="Order" value="p1" class='button'>Order</button>
  </form>
  </div>
</div>


</html>
