<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/menu.css">

    <title>Latte Bar Menu</title>
  </head>
  <body>
    <h1>menu</h1>
  </body>
</html>
